@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', arial;
}

.register-status {
  color: green;
}

.wrong {
  color: red;
}

.art {
  display: none;
}

.login {
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: relative;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.information,
.employees {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin: 5px;
}

.addShowContainer {
  display: flex;
  flex-direction: column;
}

.addShowContainer button {
  margin: 10px;
  width: 195px;
  height: 56px;
}

.employeeList {
  position: relative;
  width: auto;
  justify-content: center;
  text-align: center;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

.employeeList h3 {
  margin: 20px;
}

.addShow {
  justify-content: center;
}

input:focus {
  outline: none;
}

.updateDelete {
  display: flex;
  flex-direction: column;
}

.updateDelete button {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 960px) {
  .art {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .art img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .login {
    display: grid;
    grid-template-columns: 66% auto;
    position: unset;
  }

  .login-container {
    position: relative;
  }

  .login-content {
    padding: 15px;
    border-radius: 4px;
  }

  .employeeList {
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .employeeListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .updateDelete {
    align-items: center;
  }

  .addShowContainer {
    display: unset;
  }
}
